div{
    background-color: bisque;
    height: 50px;
    width: 50px;
    /* border-width: 5px;
    border-style: dashed;
    border-color: brown; */
    text-align: center;
    border: 5px dashed brown;
    border-radius: 50%;
}

.div{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    text-align: center;
    border: 4px dotted brown;
    border-radius: 20%;
    /* padding-left: 25px;
    padding-bottom: 25px; */
    padding: 10px 11px 12px 14px;
    /* margin-top: 50px; */
    margin: 50px;
}